<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReactWebPack.Core</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/kanban-styles.css">
    </environment>
    <environment names="Staging,Production">
        <!-- ASP.NET Core 1.0.0 recommends the new bundle/minifier see https://github.com/madskristensen/BundlerMinifier/wiki -->
        <link rel="stylesheet" href="~/css/kanban-styles.min.css" asp-append-version="true">
    </environment>
</head>
<body>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2016 - ReactWebPack.Core</p>
    </footer>
</div>

    <!-- The only difference between development and production React is adding a cachebusting suffix to the files-->
    <environment names="Development">
        <script src="~/js/vendor.js"></script>
        <script type="text/javascript">
            self._babelPolyfill = false; //HACK: see http://stackoverflow.com/a/36672020/1434764
        </script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/vendor.min.js" asp-append-version="true"></script>
        <script type="text/javascript">
            self._babelPolyfill = false; //HACK: see http://stackoverflow.com/a/36672020/1434764
        </script>
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
