@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ReactLayout.cshtml";
}
<h3>
    This is an ASP.NET MVC5 running react.js code which was built be <a href="http://webpack.github.io/docs/">WebPack</a>
    with <a href="https://babeljs.io/">Babel js</a>
</h3>
<p>This is a react.js application taken from <a href="https://github.com/pro-react/kanban-app/tree/chapter6">Pro React GitHub</a></p>
<hr/>

<div id='root'>
</div>

@section scripts{
    <script src="~/js/bundle.js"></script>
}
