@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ReactLayout.cshtml";
}
<h3>
    This is an ASP.NET Core (1.0.0) web site using <a href="http://facebook.github.io/react/">React</a> code which was built by
    <a href="http://webpack.github.io/docs/">WebPack</a>
    with <a href="https://babeljs.io/">Babel js</a> doing the transpiling.
</h3>
<p>
    This application was downloaded from <a href="https://github.com/pro-react/kanban-app/tree/chapter6">Pro React GitHub, Chapter 6</a>
    with major changes to use <a href="http://redux.js.org/">Redux store</a> instead of the original Flex store.
</p>
<hr />

<div id='root'>
</div>

@section scripts{

}